body {
    font-family: monospace;
    font-size: 16px;
}

.header {
    background-color: #369;
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header img {
    width: 210px;
    height: 80px;
}

.nav ul {
    display: flex;
    gap: 30px;
    padding-right: 80px;
}

.nav li {
    list-style: none;
   
}

nav li a {
    text-decoration: none;
    color: #ededed;
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 3px solid  #369;
}

nav li a:hover {
    font-weight: bold;
    border-bottom: 3px solid white;
    font-weight: bold;
    color: white;
}

.home__page {
    padding: 80px;
}

.home__page_status {
    height: 400px;
    width: 400px;
    text-align: center;
    border: 2px solid grey;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.home__page_status span {
    display: block;
    padding: 40px;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    background:  #E5E5E5;
    box-shadow: 2px 2px 4px rgba(10, 46, 82, 0.12), -6px -6px 40px rgba(255, 255, 255, 0.63), 4px 4px 15px rgba(10, 46, 82, 0.11), inset 4px 4px 30px rgba(10, 46, 82, 0.11), inset -4px -4px 40px #FFFFFF;
}

.btn__home {
    margin-left: 100px;
    margin-top: 100px ;
    width: 500px;
    height: 90px;
    border: 3px solid grey;
    border-radius: 30px;
   
}

.btn__home a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 29px;
    color: #0A2E52;
}

.btn__home:hover {
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    background-color: #4c86c1;
    cursor: pointer;
    border: 3px solid #4c86c1
}

.page {
    background: #DDDDDD;
}

.home__page {
    display: flex;
}

.library {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.library__title {
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;  
}

.input__word {
    background: #E9EBF1;
    box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.18), inset 2px 2px 4px rgba(0, 0, 0, 0.24), inset -8px -8px 15px rgba(255, 255, 255, 0.02), inset 8px 8px 15px rgba(10, 46, 82, 0.21);
    border-radius: 15px;
    text-align: center;
    height: 38px;
    font-size: 18px;
}

.btn-success {
    margin-left: 20px;
    border-radius: 15px;
}
.library__list {
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px 5px rgb(83, 79, 79)
}

.library__row {
    display: flex;
    gap: 10px;
}

.library__row.head {
    font-weight: bold;
    margin-bottom: 20px;
}

.library__row.body {
    flex-direction: column;
}

.library__col {
    flex: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.library__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.library__item button {
    position: absolute;
    right: 0;
}

.learn__progressbar {
    height: 15px;
    background-color: #ededed;
}

.learn__progressbar span {
    display: block;
    height: 100%;
    background: linear-gradient(90.14deg, #124E82 1.94%, #1966AE 21.33%, #1AB9E1 43.79%, #86CDDE 62.16%, #A3D2B6 81.55%, #10b5aa 99.93%);;
}

.games__list { 
    display: flex;
    gap: 20px;
    padding: 20px;
}

.games__item {
    list-style: none;
    width: 465px;
    height: 295px;
    border: 2px solid grey;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.games__item a {
    display: flex;
    text-decoration: none;
}

.games__item_one {
    padding: 10px;
}

.games__item_two h3 {
    margin-left: 10px;
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #307CC4;
    background: linear-gradient(119.93deg, #EBEEF6 -1.47%, rgba(235, 238, 246, 0) 65.09%);
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.7), inset 2px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.games__item_two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.games__item_two p {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #F0523A;
}

.games__item_two p:hover, .games__item_two h3:hover {
    color: #0A2E52;
}

.learn {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 40px;
}

.learn__word, .learn__translate {
    padding: 20px 40px 20px 40px;
    font-size: 24px;
    font-weight: 800;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgb(83, 79, 79)
}

.btn-info {
    background: #10b5aa;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
-23px 0 20px -23px rgba(0, 0, 0, .8),
23px 0 20px -23px rgba(0, 0, 0, .8),
0 0 40px rgba(0, 0, 0, .1) inset;
}

.btn-info:hover {
    color: white;
}

.errors, .correct, .points {
    border-radius: 10px;
    box-shadow: none;
    padding: 10px 20px;
    margin-right: 10px;
    
}

.errors {
    background: red;
}

.correct {
    background: green;
}

.points {
    background-color: #1AB9E1;
}

.game__header_info {
    text-align: center;
}

.game__content {
    text-align: center;
    margin-top: 20px;
}

.game__content h3 {
    font-size: 30px;
    color: #124E82;
    font-weight: bold;
}

.game__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 40px;
}

.learn__translate {
    margin-bottom: 40px;
    margin-top: 20px;
}

.btn__voice {
    margin-bottom: 20px;
}

.btn__back {
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
}

.game__header {
    margin-top: 20px;
}

.current__word {
    padding: 20px;
}

.btn__current {
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn__current:hover {
    color: black;
    background: grey;
    border: 2px solid grey;
}

    